.banner {
  z-index: 99999;
  position: relative;
  margin-top: -100px;
  width: 100%;
  min-height: 700px;
  background-color: var(--retro-yellow-color);
  background-image: url(./../../../assets/bladimirmv.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;

  // .wave {
  //   background-image: url(./../../../assets/wave.svg);
  //   background-repeat: no-repeat;
  //   background-position: bottom;
  //   width: 100%;
  //   height: 100%;
  //   // left: 0;

  //   position: absolute;
  // }

  .welcome-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: var(--retro-cyan-color);
    gap: 16px;
  }
  .greeting-section {
    font-size: 55px;
    text-align: center;
    line-height: 60px;
    font-weight: bolder;
    color: var(--retro-orange-color);
  }

  .greeting-section .hand {
    animation: rotateHand 1.5s infinite;
    display: inline-block;
  }

  @keyframes type {
    from {
      width: 0ch;

      border-right: 1px solid red;
    }

    to {
      width: 12ch;

      border-right: 1px solid red;
    }
  }
  // .welcome-container p {
  //   font-size: ;
  // }

  .welcome-buttons {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
}

@keyframes rotateHand {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(35deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.section-about {
  background-color: var(--retro-cyan-color);
  width: 100%;
  height: 500px;

  color: var(--retro-yellow-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-itemscustomers: center;

  &::after {
    content: "";
    position: absolute;
  }
}

.section-about:nth-child(even) {
  background-color: var(--retro-orange-color);
}

.customers {
  // background-color: red !important;
  display: flex;
  justify-content: center;
  gap: 48px;
}

.customers .customer {
  cursor: pointer;
  min-width: 300px;
  min-height: 230px;
  // border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;

  background-image: url(./../../../assets/blob.svg);
  background-position: top;
  background-size: contain;

  img {
    filter: grayscale(100%);
    max-width: 250px;
  }
  &:hover {
    transform: scale(1.1);
  }
  &:hover > img {
    filter: grayscale(0%);
  }
}

@media screen and (max-width: 920px) {
  .banner {
    background-position: left;
  }
}

@media screen and (max-width: 700px) {
  .section-about {
    height: 100vh;
  }
  .customers {
    flex-direction: column;
  }

  .customers .customer img {
    filter: grayscale(0%);
  }
}
@media screen and (max-width: 640px) {
  .welcome-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
