<div class="banner">
  <div class="content">
    <div class="welcome-container">
      <h1 class="greeting-section">
        <span class="hand">👋</span>
        Hi there, I'm Bladimir Medrano Vargas
      </h1>

      <p align="center">a junior Angular developer</p>
      <div class="welcome-buttons">
        <a
          class="retro-brown-button"
          href="./assets/cv.pdf"
          download="bladimirmv-cv"
        >
          Download CV
        </a>
        <a
          class="retro-brown-outline-button"
          href="mailto:bladimilmedranoblod@gmail.com"
        >
          Send Message
        </a>
      </div>
    </div>
  </div>
</div>

<section id="costumers" class="section-about">
  <div class="content">
    <h1 align="center">CAUTION DEV AT WORK!!!!</h1>
    <p align="center">Keep calm I am working on this page...</p>
  </div>
</section>

<section id="projects" class="section-about">
  <div class="content">
    <h1 align="center">CAUTION DEV AT WORK!!!!</h1>
    <p align="center">Keep calm I am working on this page...</p>
  </div>
</section>

<section id="languages_tools" class="section-about">
  <div class="content">
    <h1 align="center">CAUTION DEV AT WORK!!!!</h1>
    <p align="center">Keep calm I am working on this page...</p>
  </div>
</section>

<section id="contact_me" class="section-about">
  <div class="content">
    <h1 align="center">CAUTION DEV AT WORK!!!!</h1>
    <p align="center">Keep calm I am working on this page...</p>
  </div>
</section>
