// .banner {
//   width: 100%;
//   min-height: 700px;
//   background-color: var(--retro-yellow-color);
//   background-image: url(./../../../../assets/gg.png);
//   background-repeat: no-repeat;
//   background-position-y: top;

//   background-size: cover;
//   background-attachment: fixed;

//   .welcome-text {
//     font-size: 50px;
//   }
// }

.toolbar {
  background-color: transparent;
  color: var(--nav-text-color);
  height: 100px;
  padding: 50px;

  position: sticky;
  top: 0;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    text-decoration: none;
    color: var(--retro-brown-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    outline: none;
  }
  .logo-text {
    font-size: 32px;
    font-family: var(--font-mono);
  }
  .logo-text:hover {
    transform: scale(1.1);
    color: var(--retro-orange-color);
  }

  .toolbar-links {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 16px;
    text-transform: capitalize;
    font-weight: bolder;
  }
  .toolbar-links a {
    text-decoration: none;
    color: var(--retro-brown-color);
  }

  .toolbar-links li:hover {
    // text-decoration: underline;
    transform: scale(1.1);
    & a {
      border-radius: 30px;
      padding: 5px 10px;
      color: var(--retro-cyan-color);
      background-color: var(--retro-yellow-color);
      border: 2px solid var(--retro-orange-color);
    }
  }
}
